.error {
  color: red;
}
.success_box {
    background-color: rgba(69, 169, 255, .9);
    margin: 0 0 20px;
    display:none;
}

.vc_custom_1448964466367,
.vc_custom_1448964485854
{
    background-color: #088eff;
}

.ui-widget-overlay {
    background-color: #9C9391;
    opacity: .93;
}

.modal-backdrop {
  position: fixed;
}

#staffmodal-overlay,
#bk-staffmodal {
  /*
  background-color: #000;
  width: 60%;
  height: 100%;
  top: 705px;
  left: 300px;
  display: block;
  position: absolute;
  border: 2px solid;
  background: white;
  z-index: 11;
  */
  display: none;
}

#bkdialog {
  display: none;
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 1040;
}

  /*
audio, canvas, progress, video {
  display: -webkit-box;
    top: 800px;
    left: 500px;
    position: absolute;
    width: 320px;
    height: 240px;
    box-sizing: border-box;
    object-fit: contain;
    z-index:1040;
    */

  /*
    display: inline-block;
    vertical-align: baseline;
    width: 90%;
    height: 100%;
    */
    /*
}
*/


#bkstaffmodal-content {
  border: 2px solid;
  height: 300px;
  widht: 400px;
  float: left;
  position: absolute;
  z-index: 13;
  background-color: white;
}

/* Container */
#staffmodal-container {
  font: 16px/22px 'Trebuchet MS', Verdana, Arial;
  text-align: left;
  width: 450px;
}

#staffmodal-container .staffmodal-content {
  background-color: #333;
  color: #ddd;
  height: 40px;
}

#staffmodal-container h1 {
  color: #d76300;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0 0 6px 12px;
  text-align: left;
}

#staffmodal-container .staffmodal-loading {
  background: url(/imgages/loading.gif) no-repeat;
  height: 55px;
  margin: -14px 0 0 190px;
  padding: 0;
  position: absolute;
  width: 54px;
  z-index: 8000;
}

#staffmodal-container .staffmodal-message {
  text-align: center;
}

#staffmodal-container .staffmodal-error {
  background: #000;
  border: 2px solid #ccc;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 auto;
  padding: 2px;
  width: 92%;
}

#staffmodal-container br {
  clear: both;
}

#staffmodal-container form {
  margin: 0;
  padding: 0;
}

#staffmodal-container label {
  clear: left;
  display: block;
  float: left;
  font-weight: bold;
  padding-right: 4px;
  text-align: right;
  width: 100px;
}

#staffmodal-container .staffmodal-input {
  background: #eee;
  border: 1px solid #fff;
  font-family: 'Trebuchet MS', Verdana, Arial;
  float: left;
  padding: 2px;
  margin: 2px;
  width: 300px;
}

#staffmodal-container textarea {
  height: 114px;
}

#staffmodal-container .staffmodal-cc {
  cursor: default;
  font-size: 14px;
  vertical-align: top;
}

#staffmodal-container .staffmodal-top {
  background-color: #333;
  height: 13px;
  margin: 0;
  padding: 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-radius: 8px 8px 0 0;
}

#staffmodal-container .staffmodal-bottom {
  background-color: #333;
  font-size: 12px;
  height: 13px;
  line-height: 12px;
  text-align: center;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-radius: 0 0 8px 8px;
}

#staffmodal-container .staffmodal-bottom a, #staffmodal-container .staffmodal-bottom a:link, #staffmodal-container .staffmodal-bottom a:active,
  #staffmodal-container .staffmodal-bottom a:visited {
  color: #666;
  position: relative;
  top: -4px;
  text-decoration: none;
}

#staffmodal-container .staffmodal-bottom a:hover {
  color: #888;
}

#staffmodal-container .staffmodal-button {
  background: #d76300;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 26px;
  margin: 4px 0 0 4px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#staffmodal-container .staffmodal-button:hover {
  background: #f49000;
}

#staffmodal-container a.modal-close, #staffmodal-container a.modal-close:link, #staffmodal-container a.modal-close:active,
  #staffmodal-container a.modal-close:visited {
  color: #999;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  right: 8px;
  top: 0px;
}

#staffmodal-container a.modal-close:hover {
  color: #ccc;
}

body {
  background: #fff;
  color: #333;
  font: 12px/22px verdana, arial, sans-serif;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.pt_portal_login td input {
  padding: 4px;
  margin-left: 4px;
  float: right;
}

.pt_portal_login .container {
  margin: 20px;
  padding: 10px;
  position: relative;
}

.pt_portal_login table {
  border: none;
  width: 100%;
  margin-left: 64px;
 }

.pt_portal_login tbody tr {
  width: 100%;
  margin-left: 2px;
  display:block;
}

.pt_portal_login tbody {
  float: left;
}
  
.pt_portal_login tbody tr td {
  border: 0;
  position: relative;
  padding: 2px;
  height: 43px;
  width: 100%;
}

h1 {
  color: #3a6d8c;
  font-size: 34px;
  line-height: 40px;
  margin: 0;
}

h3 {
  color: #3a6d8c;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  margin: 0 0 8px 0;
}

img {
  border: 0;
}

#logo {
  margin-bottom: 20px;
  width: 300px;
}

#logo h1 {
  color: #666;
  letter-spacing: -1px;
  font-weight: normal;
}

#logo h1 span {
  color: #444;
  font-weight: bold;
}

#logo .title {
  color: #999;
  font-size: 12px;
}

#container {
  margin: 0 auto;
  padding-top: 20px;
  width: 800px;
}

#staffmodal-content {
  border-bottom: 1px dotted #999;
  border-top: 1px dotted #999;
  padding: 20px 0;
}

#staffmodal-footer {
  clear: left;
  color: #888;
  margin: 20px 0;
}

#staffmodal-footer a:link, #staffmodal-footer a:visited {
  color: #888;
  text-decoration: none;
}

#staffmodal-footer a:hover {
  color: #333;
  text-decoration: underline;
}

#submit_reg,
#submit_login {
  font-family: Arial;
  font-size: 10pt; 
  color: #FFFFFF;
  font-style: italic;
  font-weight: bold;
  padding: 4px;
  background-color: #0099FF;
}